nav{
	background: rgba(0,0,0,0.30);
	color: white;
	position: absolute;
	margin-top: -50px;
}
nav a {
	color: white;
}
.hero {
	text-align: center;
	color: #fff;
}
.hero h1 {
	margin-top: 40vh;
}

.hero {
	background: url(../img/background-rainier-half.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh; 
	 animation: breath 20s linear infinite;
	background-attachment: fixed;
}


@keyframes breath {
  0%   { background-size: 140% 140%; }
  50% { background-size: 100% 100%; }
  100% { background-size: 140% 140%; }
}
