/******START GLOBAL******/

/*Navigation*/
nav{
	background: rgba(0,0,0,0.5);
	color: #fff;
	position: absolute;
	margin-top: -50px;
	-webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
nav a, nav a:hover {
	color: white !important;
	text-decoration: none;
}
nav a:hover {
	opacity: 0.8;
}
@media (max-width: 991px) {
	nav {
		background: rgba(0,0,0,1);
	}
}
/*Structure*/

/****** END GLOBAL******/

/******START HOME******/
/*Hero*/
.hero {
	text-align: center;
	color: #fff;
	min-height: 330px;
	height: 70vh; 
	animation: breath 40s linear infinite;
	background-attachment: fixed;
}
.hero h1 {
	margin-top: 25vh;
}

#start{
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
/*os-preview*/
.screenshot {
	margin: 15px 0;
	/* box-shadow: 0 3px 10px 1px rgba(0,0,0,0.3); */
}
/*Blogs*/
.blogpost h5 {
	margin: 10px 0 0 0;
}
.blogpost p {
	margin: 0 0 30px 0;
}
.blogpost a, .blogpost a:hover {
	color: #000;
	text-decoration: none;
}
.trentaicons img {
	width: 10%;
}
.trentawallpapers img {
	width: 15%;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("../img/nav.svg");
}
.navbar-dark .navbar-toggler {
	border-color: rgba(0,0,0,0)
}
.feature {
	height: 500px;
	text-align: center;
}
.feature h2 {
	padding-top: 50px;
	font-siz: 1.5em;
}
.feature p {
	width: 75%;
	margin: 0 auto;
}
#ft-icons {
	background-color: #f1f1f3;
	background-image: url("../img/ft-icons.png");
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	
}
#ft-wallpapers {
	background-color: #f1f1f3;
	background-image: url("../img/ft-wallpapers.png");
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	
}
#ft-news {
	background-color: #f1f1f3;
	background-image: url("../img/ft-news-aug2.png");
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}
@media (max-width: 475px) {
	.feature {
		height: 415px;
	}
}
@media (max-width: 767px) {
	#ft-news {
	background-color: #f1f1f3;
	background-image: url("../img/ft-news-aug-m.png");
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}
}

/******END HOME******/

/******START OS******/
/*OS Hero*/
@media (max-width: 991px) {
	.os-hero {
	background: url(../img/os-laptop.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
}
/******END OS******/


/******START BRAND******/
/*Brand Hero*/
.hero-brand {
	background: #000;
	background-image: url(../img/bg-hero-brand.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh
}
.hero-brand h1 {
	margin-top: 20vh;
}
.code {
	font-family: 'Inconsolata', monospace;
	background: #000;
	color: #ccc;
	padding: 4px;
	border-radius: 2px;
	font-style: italic;
	font-size: 12px;
}
/******END BRAND******/
/******START WALLPAPERS******/
/*Wallpapers Hero*/
.hero-wallpapers {
	background: #000;
	background-image: url("../img/bg-hero-wallpapers.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
	background-position: center;
}
.hero-brand h1 {
	margin-top: 20vh;
}
/******END BRAND******/